.primary-color {
  color: #3E3D39 !important
}

.background-primary-color {
  background-color: #E8EBE4 !important;
}

.background-header-color {
  background-color: #B2C1BE !important;
}

.background-footer-color {
  background-color: #3E3D39 !important;
}

.white-text {
  color: #E8EBE4 !important;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  direction: rtl;
}

p {
  margin: 0;
}

//
// .mat-focused .mat-input-placeholder {
//   color: rgba(62, 61, 57, 0.7);
// }

.mat-input-underline .mat-input-ripple {
  background-color: rgba(62, 61, 57, 0.7);
}

.mat-input-infix {
  color: #3E3D39;
}
