@import '../styles';


@font-face {
  font-family: arimo;
  src: url(../data/fonts/Arimo/Arimo-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: lato;
  src: url(../data/fonts/Lato/Lato-Regular.ttf;

}
