rg-search {
  display: flex;
  width: 840px;
  margin: 25px auto 0;

  .mat-form-field  {
    text-align: right;
    width: 100%;
  }

  .search-button {
    height: 40px;
    min-width: 40px;
    padding: 0;
  }
}
