.mat-input-container {
  text-align: right;
  width: 100%;
}

.search-button {
  height: 40px;
  min-width: 40px;
  padding: 0;
  background-color: #3E3D39;
}

/deep/ .mat-focused .mat-input-placeholder {
  // color: rgba(62, 61, 57, 0.7);
  color: red;
}
