<div class="header-wrapper background-header-color">
  <div class="header-content">
    <!-- TODO Will be shown only if user logged in. links to the user profile -->
    <div class="user-profile">
      <img class="user-image" src="./data/icons/chef.svg" />
      <p class="user-name">שם משתמש</p>
    </div>
    <div class="logo">
      <a href="/">
        <img src="./data/icons/retrogustoLogo.svg" />
      </a>
    </div>
    <div class="buttons-wrapper">
      <!-- TODO Will be shown only if user logged in. links to the add recipe page -->
      <button md-raised-button class="button">הוסף מתכון</button>
      <!-- TODO Will be shown always. redirect to login/registration page. -->
      <button md-raised-button class="button">התחבר</button>
    </div>
  </div>
  <app-search></app-search>
</div>
