.header-wrapper {
  padding: 25px 0 15px;
  color: #3E3D39;

  .header-content {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .user-profile {
      text-align: center;
      align-self: center;
      .user-image {
        height: 50px;
      }
      .user-name {
        font-size: .7em
      }
    }

    .logo {
      a {
        display: block;

        img {
          height: 6em;
        }
      }
    }

    .buttons-wrapper {
      align-self: center;

      .button {
        line-height: 30px;

        &.login {
          border: 1px solid;
          transition: all .35s ease-in-out;

          &:hover {
            background-color: #c9d4d2;
          }
        }

        &:first-child {
          margin-left: 10px;
        }
      }
    }
  }
}
