.header-wrapper {
  width: 100%;
  height: 155px;
  padding: 25px 0 15px;

  .header-content {
    width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .user-profile {
      text-align: center;
      align-self: center;
      .user-image {
        height: 60px;
      }
      .user-name {

      }
    }

    .buttons-wrapper {
      align-self: center;

      .button {
        background-color: #3E3D39;
        color: #E8EBE4;
        line-height: 30px;

        &:first-child {
          margin-left: 10px;
        }
      }
    }
  }
}
