.login-dialog {
  direction: rtl;

  .mat-dialog-container {
    padding: 0;

    .login-header {
      display: flex;
      justify-content: center;
      padding: 20px 0;

      .logo {
        max-height: 45px;
      }
    }
    
    form {
      height: 100%;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: stretch space-around;
      align-items: stretch;
      max-width: 100%;
      padding: 20px;

      .mat-form-field {
        text-align: right;
        margin-bottom: 20px;
      }
    }
  }
}
