<div class="background-primary-color">
  <div class="login-header background-footer-color">
    <rg-logo class="logo"></rg-logo>
  </div>

  <form>
    <mat-input-container floatPlaceholder="never" color="primary">
      <input matInput placeholder="מייל" type="email" />
    </mat-input-container>
    <mat-input-container floatPlaceholder="never" color="primary">
      <input matInput shouldPlaceholderFloat placeholder="סיסמא" type="password" />
    </mat-input-container>
    <button mat-raised-button color="primary" type="submit">כניסה</button>
  </form>
</div>
