.categories {
  width: 840px;
  margin: 30px auto;

  md-grid-tile {
    color: #b2c1be;
    transition: all .5s ease-out;

    &:hover {
      border: 1px solid;
    }

    rg-category {
      display: table;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }
}
