<md-card>
  <div class="image-container">
    <img md-card-image src="{{recipe.image_path}}"/>
  </div>
  <md-card-title>{{recipe.title}}</md-card-title>
  <h3>{{recipe.rating}}</h3>
  <md-card-content>
    <p>{{recipe.description}}</p>
  </md-card-content>
  <md-card-footer>
    <div class="preparation-time">
      <img src="./data/icons/clock.svg" />
      <span>{{recipe.prep_time}}</span>
    </div>

    <div class="portions">
      <img src="./data/icons/portion.svg" />
      <span>{{recipe.portions}}</span>
    </div>

    <div class="calories">
      <img src="./data/icons/calories.svg" />
      <span>{{recipe.calories}}</span>
    </div>
  </md-card-footer>
</md-card>
