<mat-card>
  <div class="image-container">
    <img mat-card-image src="{{envBackend + recipe.image_path}}"/>
  </div>
  <mat-card-title>{{recipe.title}}</mat-card-title>
  <!-- TODO Wait for update the library to support angular 5. (temporary comented out)
      this pr (https://github.com/BioPhoton/angular-star-rating/pulls) is in progress.-->
  <!-- <star-rating-comp
    [starType]="'svg'"
    [rating]="recipe.rating"
    [showHalfStars]="true"
    [direction]="'rtl'"
    [readOnly]="true"
    >
  </star-rating-comp> -->
  <mat-card-content>
    <p>{{recipe.description}}</p>
  </mat-card-content>
  <mat-card-footer>
    <div class="preparation-time">
      <img src="./data/icons/clock.svg" />
      <span>{{recipe.prep_time}}</span>
    </div>

    <div class="portions">
      <img src="./data/icons/portion.svg" />
      <span>{{recipe.portions}}</span>
    </div>

    <div class="calories">
      <img src="./data/icons/calories.svg" />
      <span>{{recipe.calories}}</span>
    </div>
  </mat-card-footer>
</mat-card>
