.mat-card {
  border: 1px solid #b2c1be;
  background: none;
  padding: .7em;
  color: #3e3d39;

  .image-container {
    overflow: hidden;

    img {
      margin: 0;
    }
  }

  .mat-card-title {
    font-size: 1em;
    font-weight: 700;
    margin: .5em 0;
    font-family: 'Rubik', sans-serif;
  }

  .mat-card-content {
    font-size: .8em;
    font-family: 'Lato', sans-serif;
    margin: .5em 0;
  }

  .mat-card-footer {
    position: relative;
  }
}
